{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}

{% block css %}
.edit{
float: right;
}
body {
        background-image: url('https://img.favpng.com/19/22/1/light-blue-sky-blue-desktop-wallpaper-png-favpng-gWMtb02qcgXUWnFVkDXh5Q46Y.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
{% endblock %}
{% block body %}
{% load humanize %}
<div class="container w-75 my-4">
      <h2 class="blog-post-title">{{post.title}}</h2>
      <br>
      <div class="media">
            {% if post.author.profile.image %}
            <img class="mr-3 rounded-circle" src="{{post.author.profile.image.url}}" width="50px" height="50px"
                  alt="image">
            {% endif %}
            <div class="media-body">
                  <h5 class="mt-0">
                              {% if user.is_authenticated %}
                              {% if user.id == post.author.id %}
                              <small><a href="/edit_blog_post/{{post.slug}}/" class="edit btn btn-warning mx-4">Edit Blog Post</a></small>
                              <small><a href="/delete_blog_post/{{post.slug}}/" class="edit btn btn-danger mx-4">Delete Blog</a></small>

                              {% endif %}
                              {% endif %}
                        </a></h5>
                  {{post.dateTime}}
            </div>
      </div>
      <br>
      <img src="/media/{{post.image}}" alt="" height="250px" width="500px">
      <br>
    <h1> </h1>
    <br>
      <p>{{post.content}}.</p>
</div>
{% endblock %}