{% extends 'base.html' %}

{% block title %} Edit Blog Post {% endblock %}

{% block css %}
body {
        background-image: url('https://img.favpng.com/19/22/1/light-blue-sky-blue-desktop-wallpaper-png-favpng-gWMtb02qcgXUWnFVkDXh5Q46Y.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
{% endblock %}
{% block body %}
<form enctype="multipart/form-data" method="POST"> {% csrf_token %}
<div class="container mt-4">
{{ form.as_p }}
<button class="btn btn-primary">Update Blog</button>
</div>
</form>
{% endblock %}



